{% extends '../bases/base-vendedor.html' %}

{% load static %}

{% block title %}
GESTOR System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column">
    
    <div class="d-flex justify-content-center mt-1 px-5 py-2 flex-column conteiner">
        <h3 class="pt-5" style="color: rgb(78, 184, 184);">Produtos</h3>
        <table class="table">

            <thead>
                <tr>
                    <th scope="col" class="text-secondary">Nome</th>
                    <th scope="col" class="text-secondary">Qnt. Vendas</th>
                    <th scope="col" class="text-secondary">Qnt. Disponível</th>
                    <th scope="col" class="text-secondary">Última venda</th>
                </tr>
            </thead>

            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto.id_dados_produto.nome}}</td>
                    <td>{{produto.qnt_vendas}}</td>
                    <td>{{produto.qnt_disponivel}}</td>
                    <td>{{produto.ultima_venda}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% endblock %}