{% extends '../bases/base-vendedor.html' %}

{% load static %}

{% block title %}
GESTOR System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column" id="main">

    <div class="d-flex justify-content-center mt-1 px-5 py-2 flex-column conteiner" id="conteiner">
        
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-secondary mt-5 px-3 py-2" onclick="voltarPagina()">Voltar</button>
            <button class="btn btn-success mt-5 px-3 py-2" onclick="enviarPedido()">Enviar</button>
        </div>

        <h3 style="color: rgb(78, 184, 184);">Finalizar pedido</h3>

        <div id="recomendacoes">
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col" class="text-secondary">Nome</th>
                        <th scope="col" class="text-secondary">Qnt. Disponível</th>
                        <th scope="col" class="text-dark">-</th>
                    </tr>
                </thead>


                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td style="min-width: 45vw;">{{produto.id_dados_produto.nome}}</td>
                        <td>{{produto.qnt_disponivel}}</td>
                        <td class="d-flex align-items-center recomendacao">
                            <button id="{{ produto.id }}" class="btn btn-outline-secondary"
                                onclick="atualizarQuantidadeProduto('{{produto.id}}')">Atualizar</button>
                            <input id="{{ produto.id }}_qnt" type="number" value="1" min="1" max="999"
                                style="width: 3.7em; margin-left: 1em; color: rgb(76, 176, 176); border: none; height: 2em;">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>

    // ***Front de recomendação dos produtos***

    let pedido = new Map()
    let numeroProdutos = 0;
    const pesquisar = document.querySelector("#barra-de-pesquisa");
    const isEmpty = str => !str.trim().length;

    // Verifica click na barra de pesquisa
    pesquisar.addEventListener("click", () => {
        const recomendacoes = document.querySelector("#recomendacoes");
        recomendacoes.hidden = false
        document.querySelector("#aviso-nenhum-produto").innerHTML = '';
    });

    // Verifica se barra de pesquisa está vazia
    pesquisar.addEventListener("input", function () {
        if (isEmpty(this.value) && numeroProdutos == 0) {
            document.querySelector("#aviso-nenhum-produto").innerHTML = '<p class="py-5 my-5" style="font-size: .8em;">Nenhum produto adicionado ainda.</p>';
            recomendacoes.hidden = true;
        } else {
            const recomendacoes = document.querySelector("#recomendacoes");
            recomendacoes.hidden = false;
            document.querySelector("#aviso-nenhum-produto").innerHTML = '';
        };
    });

    // ***Lógica de adicionar produto e quantidade ao pedido***

    function adicionarProduto(id_produto) {

        let qnt_produto = document.getElementById(id_produto + "_qnt").value

        pedido.set(id_produto, qnt_produto)

        atualizarRecomendacoes()
    }

    function atualizarRecomendacoes() {

        document.querySelectorAll('.recomendacao button').forEach(produto => {
            pedido.forEach(() => {

                if (pedido.has(produto.getAttribute('id'))) {
                    let tdNode = produto.parentNode;
                    let trNode = tdNode.parentNode;
                    trNode.hidden = true
                }

            })
        })

        if (pedido.size == document.getElementsByClassName('recomendacao').length) {
            let recomendacoes = document.querySelector("#recomendacoes");
            recomendacoes.hidden = true;
            document.querySelector("#aviso-nenhum-produto").innerHTML = '<p class="pt-5 mt-5" style="font-size: .8em;">Não há mais produtos para se adicionar ao pedido.</p><p style="font-size: .6em;">Caso deseje editar algum valor, clique no icone de caixa acima.</p>';
        }

        numeroProdutos = pedido.size
        document.querySelector("#numero-produtos").hidden = false
        document.querySelector("#numero-produtos").innerHTML = numeroProdutos
        console.log(document.querySelector("#main").innerHTML)
    }

    function verPedido() {

    }

    function atualizarQuantidadeProduto() {

    }

    async function enviarPedido() {

        let pedidoJSON = JSON.stringify(Object.fromEntries(pedido));
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        const request = new Request("http://localhost:8000/novo-pedido/", {
            headers: { 'X-CSRFToken': csrftoken },
            method: "POST",
            body: pedidoJSON
        });

        const res = await fetch(request);
        console.log(typeof res.status);

        if (res.status == 200) {
            window.location.href = "http://localhost:8000"
        } else {
            alert("Erro ao enviar, tente novamente mais tarde")
        }
    }

</script>
{% endblock %}