{% extends '../bases/base-ceo.html' %}

{% load static %}

{% block title %}
GESTOR System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column">

    <div class="d-flex align-items-center mt-1 py-2 flex-column">
        <h2 class="py-3">Editar dados do produto</h2>
        <form method="post" class="d-flex flex-column form-group">
            {% csrf_token %}
            <div style="width: 30vw;">{{form}}</div>
            <button type="submit" class="btn btn-outline-info mt-3">Editar</button>
        </form>
    </div>

</div>
{% endblock %}