{% extends '../bases/base-gerente.html' %}

{% load static %}

{% block title %}
GESTOR System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column">

    <div class="d-flex justify-content-center align-items-center mt-1 px-5 py-2 flex-column conteiner">
        <h2 class="py-2">Editar produto</h2>
        <form method="post" class="d-flex flex-column form-group">
            <span>{{produto.id_dados_produto.nome}}</span>
            <span>Valor atual: R${{produto.valor}}</span>
            <span>Porcentagem de vendas: {{porcentagem}}%</span>
            <span class="text-dark">_</span>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-outline-info mt-3">Editar</button>
        </form>
    </div>

</div>
{% endblock %}