{% extends 'base.html' %}

{% load static %}

{% block title %}
Login - GESTOR System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-column align-items-center mt-5 pt-3">
    <img src="{% static 'images/logo.webp' %}" alt="" height="60px">
    <h1>Login</h1>
    <form class="pt-3" style="width: 280px;" method="post">
        
        {% csrf_token %}

        <div data-mdb-input-init class="form-outline mb-3">
            <input type="text" name="username" id="form2Example1" class="form-control" placeholder="Usuario" />
        </div>

        <div data-mdb-input-init class="form-outline mb-3">
            <input type="password" name="password" id="form2Example2" class="form-control" placeholder="Senha" />
        </div>

        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn mb-4" style="background-color: rgb(82, 198, 191); color: black;">Entrar</button>

        {% for k, v in form.errors.items %}
            {{v}}
        {% endfor %}
    </form>
</div>
{% endblock %}